body {
	text-align: center;
	background-color: #000808;
	color: white;
}
#wrapper {
	display: inline-block;
	width: 1010px;
	background-color: #192351;
	padding-top: 5px;
	border: 1px solid #BBC7CE;
}
.float {
	float: left;
	border: 1px solid #2C5570;
}
.verticalmenu {
	display: inline-block;
}
.verticalmenu a {
	display: block;
	width: 230px;
	background-color: #2B3F8E;
	padding: 5px;
	margin: 2px auto;
	border-top: 1px solid #2C5570;
	border-bottom: 1px solid #2C5570;
}
.verticalmenu a:hover {
	background-color: #414D60;
}
#footer {
	clear: both;
}
#col1 {
	width: 250px;
}
#col2 {
    width: 500px;
}
#col3 {
    width: 250px;
}
.contain {
	width: 240px;
	height: 5px;
	display: inline-block;
}
#graph {
    height: 7px;
}
td {
    display: inline-block;
    padding-bottom: 2px;
}
.outline {
	border: 1px solid black;
	width: 200px;
}
.bar {
	background-color: yellow;
	width: 0px;
}
td div {
	width: 100px;
	height: 20px;
	display: inline-block;
	float: left;
}
.charName:first-letter {
	text-transform: capitalize;
}
.charName:hover {
    background-color: grey;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    background-color: grey;
}
td a {
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
	padding: 5px;
}
.horizontal-menu {
    display: inline-block;
}